.container {
  position: relative;
  -webkit-perspective: 80;
          perspective: 80;
}

.ripple {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  right: 1vh;
  z-index: 2;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}
.ripple.animate:before {
  -webkit-animation: clicked 0.4s forwards cubic-bezier(0.5, 0.61, 0.36, 1);
          animation: clicked 0.4s forwards cubic-bezier(0.5, 0.61, 0.36, 1);
}
.ripple:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 20%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(50%, -50%) scale(0.5);
          transform: translate(50%, -50%) scale(0.5);
  pointer-events: none;
}
@-webkit-keyframes clicked {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, -50%) scale(0.5);
            transform: translate(50%, -50%) scale(0.5);
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50%, -50%) scale(1.2);
            transform: translate(50%, -50%) scale(1.2);
  }
}
@keyframes clicked {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, -50%) scale(0.5);
            transform: translate(50%, -50%) scale(0.5);
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(50%, -50%) scale(1.2);
            transform: translate(50%, -50%) scale(1.2);
  }
}
.toggle {
  position: absolute;
  width: 6vmin;
  height: 6vmin;
  background:url('../res/reveal.svg');
  z-index: 100;
  right: 2vh;
  top: 1vh;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.toggle:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  background: #1296db;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateZ(46deg);
          transform: rotateZ(46deg);
  transition: width 0.13s ease-out;
}
.toggle[data-state="visible"]:before {
  width: 8vmin;
}
.toggle[data-state="hidden"]:before {
  width: 0;
}
.toggle .eye {
  transition: -webkit-transform .13s linear;
  transition: transform .13s linear;
  transition: transform .13s linear, -webkit-transform .13s linear;
  stroke-width: 0;
  -webkit-transform: scale(1) rotateY(0);
          transform: scale(1) rotateY(0);
}
.toggle .eye path {
  fill: none;
  stroke-width: 1.5;
  stroke-miterlimit: 5;
  stroke: #000000;
}
.toggle:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.toggle:active + input {
  -webkit-transform: rotateY(1deg);
          transform: rotateY(1deg);
  letter-spacing: 1.5px;
  cursor: text;
}
.toggle:active + input.password {
  letter-spacing: 3px;
}
.toggle:active:before {
  -webkit-transform: rotateZ(46deg) rotateY(5deg);
          transform: rotateZ(46deg) rotateY(5deg);
}
.toggle:active .eye {
  -webkit-transform: scale(0.75) rotateY(5deg);
          transform: scale(0.75) rotateY(5deg);
}

.content input {
  will-change: transform;
  transition: all 0.2s ease;
  cursor: text;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  transition: -webkit-transform 0.13s;
  transition: transform 0.13s;
  transition: transform 0.13s, -webkit-transform 0.13s;
  font-family: "Poppins", sans-serif;
  transition: letter-spacing 0.13s ease-out, box-shadow 0.13s ease-out;
}